/* Navigacijska vrstica */
.container-fluid{
	background-color: black;
	height: 120px;
}

/* telo spletne strani */
body{
	background-color: #e8e4d8;
}
.container{
	background-color: white;
	margin-bottom: 20px;
}
p, h2{
	font-size: 130%;
	padding: 5px;
	padding-left:20px;
	padding-right:20px;
	font-family: Manrope, sans-serif;
}
h2{
	font-size: 250%;
	font-family: "Fira Sans", sans-serif;
}

/* logotip */
#logo_slika{

	position: relative;
	top: 0;
	width: 240px;
	height: 110px;
}

.navbar .container-fluid .navbar-header a{padding-top: 8px;}



/* Navigacijski zavihki */
.navbar .container-fluid #meni{
	margin-top: 19px;
	font-family: Montserrat,sans serif;
	margin-right: 150px;
}

.navbar-inverse .navbar-nav > li > a{color: #D3D3D3;}



/* označeno */
.navbar-inverse .navbar-nav .active a{
	background-color: white;
	color: #808080;
	margin-top: -20px;
	padding-top: 35px;
}

.navbar-inverse .navbar-nav > .active:hover a{
	background-color: white;
	color: #14113D;
	cursor: default;
}


/* dropdown menu */
.dropdown-menu{
	background-color: black;
	box-shadow: none;
	border: none;
	cursor:none;
}

.dropdown-menu:hover{
	cursor:none;
}

/* postavitev menija na desno stran besedila */
.navbar-right .dropdown-menu{
	left: auto;
	right: 0;

}

.navbar-nav > li > .dropdown-menu {
    margin-top: 20px;
}


.dropdown-menu li a{color: white;}
.dropdown-menu li:hover a{color: #14113D;}


/* izbrano dropdown */
.navbar-inverse .navbar-nav > .open > a{
	color: white;
	font-weight: bold;
	background-color: transparent;
}

.navbar-inverse .navbar-nav > .open:hover > a{
	background-color: transparent;
}

.navbar-inverse .navbar-nav .active_dropdown{
	background-color: white;
	color: #808080;
	margin-top: -20px;
	padding-top: 35px;
	
}

.navbar-inverse .navbar-nav .active_dropdown:hover{
	background-color: white;
	color: #808080;
	margin-top: -20px;
	padding-top: 35px;
	cursor: default;
	
}


/* širina containerja z besedilom */
.container{
	width: 1500px;
}